---
layout: default
no_site_title: true
title: A watchmaking student's resource, study guide and blog
---

{% include_cached search.html %}

<div itemprop="hasPart" itemscope itemtype="https://schema.org/CollectionPage" class="row">
	<div class="col-6">
		<h2>Latest <a href="/student-blog">student blog</a> posts</h2>
		<ul class="posts updates">
			{% assign posts = site.posts | sort: "date" | reverse %}
			{% for post in posts limit: 3 %}
				<li itemprop="hasPart" itemscope itemtype="https://schema.org/ItemPage">
					<h3>
						<a itemprop="url" href="{{ post.url }}">
							<span itemprop="name">{{ post.title }}</span>
						</a>
					</h3>
					<h4>Published: <span itemprop="datePublished">{{ post.date | date_to_long_string }}</span></h4>
					<a href="{{ post.url }}"><img itemprop="image" src="{{ post.image }}" alt="{{ post.image-alt  }}" /></a>
					<div itemprop="description">{{ post.excerpt | markdownify }}</div>
				</li>
			{% endfor %}
			<li class="button"><a href="/student-blog">View all {{ posts | size }} posts →</a></li>
		</ul>
	</div>
	<div class="col-6">
		<h2>Recently updated <a href="/guides">guides</a></h2>
		<ul class="updates">
			{% assign guides = site.guides | last_modified_sort | reverse %}
			{% for guide in guides limit: 8 %}
				<li itemprop="hasPart" itemscope itemtype="https://schema.org/ItemPage">
					<h3>
						<a itemprop="url" href="{{ guide.url }}">
							<span itemprop="name">{{ guide.title }}</span>
						</a>
					</h3>
					<h4>Category: {{ guide.category }}</h4>
					<div itemprop="description">{{ guide.description | markdownify }}</div>
				</li>
			{% endfor %}
			<li class="button"><a href="/guides">View all {{ guides | size }} guides →</a></li>
		</ul>
	</div>
</div>

<div class="row">
	<div class="col-12" style="text-align: center;">
		<h3>Explore watchmaking <a href="/resources">resources</a> from around the web, and a <a href="/bibliography">bibliography</a> of essential texts.</h3>
	</div>
</div>
